<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">

    <div class="row">
        <div class="col-md-6 d-flex align-items-stretch grid-margin">
            <div class="row flex-grow">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Add Flight</h4>
 <!-- Add Flight -->
					 <form th:action="@{/addFlightAdmin}" method="post">
					  <input type="hidden" name="idVol" >
					  <div class="form-group">
					    <label  class="col-sm-3 col-form-label" for="dateArrivee">Date d'arrivée:</label>
					    <input class="form-control"  type="date" id="dateArrivee" name="dateArrivee" pattern="yyyy-MM-dd">
					  </div>
					  <div class="form-group">
					    <label  class="col-sm-3 col-form-label" for="dateDepart">Date de départ:</label>
					    <input class="form-control" type="date" id="dateDepart" name="dateDepart" pattern="yyyy-MM-dd" >
					  </div>
					        <div class="form-group">
					    <label  class="col-sm-3 col-form-label" for="volName">Ville de départ:</label>
					   	<select class="form-control" name="villeDepart">
					  		 <option  th:each="ville : ${villes}" th:value="${ville.villeName}" th:text="${ville.villeName}"></option>
						 </select>
					  </div>
					   <div class="form-group">
					    <label  class="col-sm-3 col-form-label" for="volName" >Ville d'arrivée:</label>
					   	<select class="form-control" name="villeArrive">
					  		<option    th:each="ville : ${villes}" th:value="${ville.villeName}" th:text="${ville.villeName}"></option>
						</select>
						</div>
					  
					  
					  <div class="form-group">
					    <label class="col-sm-3 col-form-label" for="volName">Nom du vol:</label>
					    <input class="form-control" type="text" id="volName" name="volName" >
					  </div>
					  <div class="form-group">
					    <label class="col-sm-3 col-form-label" for="volImage">Image du vol:</label>
					    <input class="form-control" type="text" id="volImage" name="volImage" >
					  </div>
					  <div class="form-group">
					    <label class="col-sm-3 col-form-label" for="volDescription">Description du vol:</label>
					    <input class="form-control" type="text" id="volDescription" name="volDescription" >
					  </div>
					  <div class="form-group">
					    <label class="col-sm-3 col-form-label" for="volPrix">Prix du vol:</label>
					    <input class="form-control" type="number" id="volPrix" name="volPrix" >
					  </div>
					       <button type="submit" class="btn btn-success mr-2">Submit</button>
					                                <button class="btn btn-light">Cancel</button>
					</form>
 
   	</div>
       </div>
          </div>
          </div>
        </div>
<!-- salat add flight -->
 
       <!-- Add emmployee -->
        <div class="col-md-6 d-flex align-items-stretch">
            <div class="row flex-grow">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Add employee</h4>
                            <form th:action="@{/addEmployee}" method="post">
                       <div class="form">
			 <div class="form-group row">
			    <input type="hidden" id="idEmployee" name="idEmployee"  class="input">
			  </div>
			  <div class="form-group row">
			    <label for="CIN" class="col-sm-3 col-form-label">CIN</label>
			    <input type="text"  name="CIN" class="form-control">
			  </div>
			 <div class="form-group row">
			    <label for="nom" class="col-sm-3 col-form-label">nom</label>
			    <input type="text"  name="nom" class="form-control">
			  </div>
			   <div class="form-group row">
			    <label for="prenom" class="col-sm-3 col-form-label">prenom</label>
			    <input type="text"  name="prenom"  class="form-control">
			  </div>
			   <div class="form-group row">
			    <label for="dateNaissance" class="col-sm-3 col-form-label">Date De Naissance</label>
			    <input type="date"  name="dateNaissance"  class="form-control">
			  </div>
			  
			  
			  <div class="form-group row">
			    <label for="username" class="col-sm-3 col-form-label">username</label>
			    <input type="text"  name="username"  class="form-control">
			  </div>
			   <div class="form-group row">
			    <label for="password" class="col-sm-3 col-form-label">password</label>
			    <input type="password"  name="password"  class="form-control">
			  </div>
			  <div class="form-group row">
	  			   <label for="roleName" class="col-sm-3 col-form-label">roles</label>
			  	<div th:each="role: ${roles}" >
			  	<input  type="checkbox" class="checkbox" th:value="${role.roleName}" th:text="${role.roleName}" name="roleName">
			 </div>
			 </div>
			  
			     <button type="submit" class="btn btn-success mr-2">Submit</button>
                                <button class="btn btn-light">Cancel</button>
					</div>
                    </form>
                        </div>
                    </div>
                </div>
 <!-- salat here-->
    
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Colored input groups</h4>
                            <p class="card-description">
                                Input groups with colors
                            </p>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend bg-info">
                            <span class="input-group-text bg-transparent">
                              <i class="mdi mdi-shield-outline text-white"></i>
                            </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="colored-addon1">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend bg-primary border-primary">
                            <span class="input-group-text bg-transparent">
                              <i class="mdi mdi mdi-menu text-white"></i>
                            </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="colored-addon2">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="colored-addon3">
                                    <div class="input-group-append bg-primary border-primary">
                            <span class="input-group-text bg-transparent">
                              <i class="mdi mdi-menu text-white"></i>
                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend bg-primary border-primary">
                                        <span class="input-group-text bg-transparent text-white">$</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                    <div class="input-group-append bg-primary border-primary">
                                        <span class="input-group-text bg-transparent text-white">.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Checkbox Controls</h4>
                    <p class="card-description">Checkbox and radio controls</p>
                    <form class="forms-sample">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input"> Default
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" checked> Checked
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" disabled> Disabled
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" disabled checked> Disabled checked
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-radio">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="" checked> Option one
                                        </label>
                                    </div>
                                    <div class="form-radio">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2"> Option two
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-radio disabled">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios2" id="optionsRadios3" value="option3" disabled> Option three is disabled
                                        </label>
                                    </div>
                                    <div class="form-radio disabled">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadio2" id="optionsRadios4" value="option4" disabled checked> Option four is selected and disabled
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Checkbox Flat Controls</h4>
                    <p class="card-description">Checkbox and radio controls with flat design</p>
                    <form class="forms-sample">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input"> Default
                                        </label>
                                    </div>
                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" checked> Checked
                                        </label>
                                    </div>
                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" disabled> Disabled
                                        </label>
                                    </div>
                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" disabled checked> Disabled checked
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-radio form-radio-flat">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="flatRadios1" id="flatRadios1" value="" checked> Option one
                                        </label>
                                    </div>
                                    <div class="form-radio form-radio-flat">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="flatRadios2" id="flatRadios2" value="option2"> Option two
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-radio form-radio-flat disabled">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="flatRadios3" id="flatRadios3" value="option3" disabled> Option three is disabled
                                        </label>
                                    </div>
                                    <div class="form-radio form-radio-flat disabled">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="flatRadios4" id="flatRadios4" value="option4" disabled checked> Option four is selected and disabled
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Horizontal Two column</h4>
                    <form class="form-sample">
                        <p class="card-description">
                            Personal info
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">First Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Last Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Gender</label>
                                    <div class="col-sm-9">
                                        <select class="form-control">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Date of Birth</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="dd/mm/yyyy" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Category</label>
                                    <div class="col-sm-9">
                                        <select class="form-control">
                                            <option>Category1</option>
                                            <option>Category2</option>
                                            <option>Category3</option>
                                            <option>Category4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Membership</label>
                                    <div class="col-sm-4">
                                        <div class="form-radio">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked> Free
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-radio">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2"> Professional
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="card-description">
                            Address
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Address 1</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">State</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Address 2</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Postcode</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">City</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Country</label>
                                    <div class="col-sm-9">
                                        <select class="form-control">
                                            <option>America</option>
                                            <option>Italy</option>
                                            <option>Russia</option>
                                            <option>Britain</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</section>
</body>
</html>
