<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">

    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">table des employees</h4>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>id Employee</th>
                                <th>nom</th>
                                <th>prenom</th>
                                <th>date de naissance</th>
                                <th>CIN</th>
                                <th> Actions</th>


                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="e:${employees}">
                                <td th:text="${e.idEmployee}"></td>
                                <td th:text="${e.personne.nom}"></td>
                                <td th:text="${e.personne.prenom}"></td>
                                <td th:text="${e.personne.dateNaissance}"></td>
                                <td th:text="${e.personne.CIN}"></td>
                                <td>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                    <button type="button" class="btn btn-primary">Update</button>
                                </td>



                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Company Table</h4>

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>id company</th>
                                <th>nom Company</th>
                                <th> Actions</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="c:${companies}">
                                <td th:text="${c.idCompany}"></td>
                                <td th:text="${c.companyName}"></td>
                                <td>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                    <button type="button" class="btn btn-primary">Update</button>
                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">flights Table</h4>

                    </p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    image du vol
                                </th>
                                <th>
                                    nom du vol
                                </th>
                                <th>
                                    ville de depart
                                </th>
                                <th>
                                    date de depart
                                </th>
                                <th>
                                    ville d'arrivee
                                </th>
                                <th>
                                    date d'arrivee
                                </th>
                                <th>
                                    prix
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="v:${flights}">
                                <td th:text="${v.volName}">  </td>
                                <td th:text="${v.volName}">  </td>

                                <td th:text="${v.getVilleDepart().villeName}"> </td>
                                <td th:text="${v.dateDepart}">  </td>
                                <td th:text="${v.getVilleArrive().villeName}"> </td>
                                <td th:text="${v.dateArrivee}"> </td>

                                <td th:text="${v.volPrix}">  </td>
                                <td>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                    <button type="button" class="btn btn-primary">Update</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Clients table</h4>

                    </p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    id billet
                                </th>
                                <th>
                                    id client
                                </th>
                                <th>
                                    numero passeport
                                </th>
                                <th>
                                    numPassenger
                                </th>
                                <th>
                                    nom du vol
                                </th>
                                <th>
                                    action
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="b:${billets}">
                                <td th:text="${b.idBillet}"></td>
                                <td th:text="${b.client.idClient}"></td>

                                <td th:text="${b.client.numPassport}"></td>
                                <td th:text="${b.numPassenger}"></td>
                                <td th:text="${b.vol.volName}"></td>
                                <td>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                    <button type="button" class="btn btn-primary">Update</button>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>


</section>
</body>
</html>
