<div th:insert="header"></div>
<div th:insert="header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.w3.org/1999/xhtml"></div>
<body>
<form action="/flight/update" method="post">
  <input type="hidden" name="idVol" value="{{flight.idVol}}">
  <div>
    <label for="dateArrivee">Date d'arrivée:</label>
    <input type="date" id="dateArrivee" name="dateArrivee" >
  </div>
  <div>
    <label for="dateDepart">Date de départ:</label>
    <input type="date" id="dateDepart" name="dateDepart" >
  </div>
  <div>
    <label for="volName">Nom du vol:</label>
    <input type="text" id="volName" name="volName" >
  </div>
  <div>
    <label for="volImage">Image du vol:</label>
    <input type="text" id="volImage" name="volImage" >
  </div>
  <div>
    <label for="volDescription">Description du vol:</label>
    <input type="text" id="volDescription" name="volDescription" >
  </div>
  <div>
    <label for="volPrix">Prix du vol:</label>
    <input type="number" id="volPrix" name="volPrix" >
  </div>
  <button type="submit">Add</button>
</form>

