
<!DOCTYPE html>
<html xmlns :th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>flights</title>
  <link rel="stylesheet" href="css/style_flight.css"/>
</head>

<body>
<main class="table">
  <section class="table__header">
    <img src="images/direct-flight.png" height="40px" width="40px">
     <a style="text-decoration: none;background: #674aaa;padding:7px;border-radius:10px;color:white" class="btn btn-outline-info " href="/showAddFlight">Add Flight</a>
    <h1>FLIGHTS</h1>
    <div class="input-group">
         
      <input type="search" placeholder="Search Data...">
      <img src="images/search.png" alt="">
    </div>

  </section>
  <section class="table__body">
    <table>
      <thead>
      <tr>
        <th> vol name <span class="icon-arrow">&UpArrow;</span></th>
        <th> date de depart <span class="icon-arrow">&UpArrow;</span></th>

        <th> date d'arrivee <span class="icon-arrow">&UpArrow;</span></th>
        <th> Prix <span class="icon-arrow">&UpArrow;</span></th>
        <!-- <th> Book <span class="icon-arrow">&UpArrow;</span></th> -->
        <th>update
        <th>delete

      </tr>
      </thead>
      <tbody>
      <tr th:each="v:${flights}">
        <td th:text="${v.volName}"> </td>

        <td th:text="${v.dateArrivee}"> </td>
        <td th:text="${v.dateDepart}">  </td>
        <td th:text="${v.volPrix}">  </td>
        <td>
          <a style="text-decoration: none;background: #674aaa;padding:7px;border-radius:10px;color:white" class="btn btn-outline-info " th:href="@{/deleteFlight/{idVol}(idVol=${v.idVol})}">Delete</a>
        </td>
        <td>
          <a style="text-decoration: none;background: #674aaa;padding:7px;border-radius:10px;color:white" class="btn btn-outline-info " th:href="@{/showUpdateFlight/{idVol}(idVol=${v.idVol})}">Update</a>
        </td>
     
      </tr> 




      </tbody>
    </table>
  </section>
</main>
</body>

</html>
